<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"

       default-lazy-init="true">

    <!--default-init-method="init"-->
    <!--default-destroy-method="destroy"-->

    <bean id="sonyHead" class="com.kholodok.implem.Head.SonyHead"></bean>
    <bean id="nokiaHead" class="com.kholodok.implem.Head.NokiaHead"></bean>
    <bean id="sonyBody" class="com.kholodok.implem.Body.SonyBody"></bean>
    <bean id="nokiaBody" class="com.kholodok.implem.Body.NokiaBody"></bean>

    <bean id="t1000" class="com.kholodok.implem.T1000"
          p:body-ref="nokiaBody" init-method="init" destroy-method="destroy" scope="prototype">

        <constructor-arg index="0" type="java.lang.String" value="silver"/>
        <constructor-arg index="1" type="int" value="13"/>
        <constructor-arg index="2" type="boolean" value="true"/>

        <property name="head" ref="nokiaHead"/>

    </bean>

    <bean id="t1000empty" class="com.kholodok.implem.T1000">

        <constructor-arg ref="nokiaHead"/>
        <constructor-arg ref="nokiaBody"/>

    </bean>

    <bean class="com.kholodok.MyBeanPostProcessor"/>

</beans>